@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset CSS agar layar penuh */
html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6; /* Abu-abu terang */
}

/* CSS untuk Keranjang POS */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.cart-item button {
    background-color: #ef4444;
    color: white;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}